h1 {
    color: white;
    background-color: rgb(63, 14, 122);
    font-weight: 900;
}

h2 {
     
    background-color: rgb(172, 22, 125);
    color: rgb(248, 64, 8);
    font-size: 20px;
}

    